:root {
  --pri: #fcf5ed;
  --sec: #f4bf96;
  --ace: #ce5a67;
  --txt: #1f1717;
  --brds: 10px;
  --bsze: 2px;
}
.plc-border {
  border: var(--bsze) solid var(--txt);
  border: var(--bsze) solid var(--txt);
} 

/* CHECKBOX TOGGLE SWITCH */
/* @apply rules for documentation, these do not work as inline style */
.toggle-checkbox:checked {
  @apply: right-0 border-green-400;
  right: 0;
  border-color: #68D391;
}
.toggle-checkbox:checked + .toggle-label {
  @apply: bg-green-400;
  background-color: #68D391;
}